@import '../init/Font.scss';
@import '../init/Color.scss';
@import '../init/Mixin.scss';

@mixin input_inner {
  padding: 14px 0 14px 18px;
  border-radius: 10px;
  border: 1px solid $border-line;
  @include RegularP();
  height: 54px;
}

.input_box {
  input {
    width: 100%;
    margin-top: 8px;
  }
}

.input_btn_box {
  @include flex(row, space-between, center);
  margin-top: 8px;

  input {
    width: 220px;
  }
}
