$primary-Lighter: #e0faf5;
$primary-Light: #00cfb4;
$primary-primary: #00c19f;
$primary-darker: #1b806d;
$Grayscale-lighter: #f1f6f3;
$Grayscale-light: #adbcb8;
$Grayscale-semilight: #adbcb8;
$Grayscale-middle: #919d9d;
$Grayscale-dark: #717c7d;
$Grayscale-darker: #505759;
$system-white: #fff;
$system-grey-white: #fbfbfb;
$system-black: #212322;
$system-error: #ee264a;
$button-disabled: #C8EFE9; 
$border-line: #D5DFD9;
