@mixin MainSize {
    padding: 100px 177.2px 0 233px;
  }

  @mixin MainHeader{
    padding: 0 170.5px 10.6px 170px;
  }
  
@mixin left_padding_web{
  padding-left:70px;
}

@mixin between_contents_right{
  margin-right: 12px;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin wrap_mob {
  padding: 0 5%;
}

@mixin letter($spacing, $color) {
  letter-spacing: $spacing;
  color: $color;
}
@mixin margin($top, $left, $bottom, $left) {
  margin-top: $top;
  margin-right: $left;
  margin-bottom: $bottom;
  margin-left: $left;
}
@mixin padding($top, $left, $bottom, $left) {
  padding-top: $top;
  margin-right: $left;
  margin-bottom: $bottom;
  margin-left: $left;
}

$ls_36: -0.36px;
$ls_64: -0.64px;
$ls_7: -0.7px;
$ls_8: -0.8px;
$ls_96:-0.96px;
$ls_56:-0.56px;

$vertical_section: 64px;
$vertical_icons: 12px;
$horizontal_icons: 8px;
