@mixin MainSize {
    padding: 100px 170.3px 0 241px;
  }

  @mixin MainHeader{
    padding: 0 170.5px 10.6px 170px;
  }
  
  @mixin size ($width, $height){
    width: $width;
    height: $height;
  }

  @mixin wrap_mob {
    padding: 0 5%;
  }

$ls_36:-0.36px;
$ls_64:-0.64px;
$ls_7:-0.7px;
$ls_8:-0.8px;
