@mixin MainSize {
  padding: 271.1px 170.3px 0 241px;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin wrap_mob {
  padding: 0 5%;
}

@mixin letter($spacing, $color) {
  letter-spacing: $spacing;
  color: $color;
}
@mixin margin($top, $left, $bottom, $left) {
  margin-top: $top;
  margin-right: $left;
  margin-bottom: $bottom;
  margin-left: $left;
}
@mixin padding($top, $left, $bottom, $left) {
  padding-top: $top;
  margin-right: $left;
  margin-bottom: $bottom;
  margin-left: $left;
}

$ls_36: -0.36px;
$ls_64: -0.64px;
$ls_7: -0.7px;
$ls_8: -0.8px;
