@font-face {
  font-family: 'SpoqaHanSansNeoBold';
  src: url('../fonts/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Bold.ttf')
    format('truetype');
}
@font-face {
  font-family: 'SpoqaHanSansNeoMedium';
  src: url('../fonts/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Medium.ttf')
    format('truetype');
}
@font-face {
  font-family: 'SpoqaHanSansNeoRegular';
  src: url('../fonts/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Regular.ttf')
    format('truetype');
}
@font-face {
  font-family: 'SpoqaHanSansNeoLight';
  src: url('../fonts/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Light.ttf')
    format('truetype');
}
@font-face {
  font-family: 'SpoqaHanSansNeoThin';
  src: url('../fonts/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Thin.ttf')
    format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'SpoqaHanSansNeoRegular', ‘sans-serif’;
}
$primary-Lighter: #e0faf5;
$primary-Light: #00cfb4;
$primary-primary: #00c19f;
$primary-darker: #1b806d;
$Grayscale-lighter: #f1f6f3;
$Grayscale-light: #adbcb8;
$Grayscale-semilight: #adbcb8;
$Grayscale-middle: #919d9d;
$Grayscale-dark: #717c7d;
$Grayscale-darker: #505759;
$system-white: #fff;
$system-grey-white: #fbfbfb;
$system-black: #212322;
$system-error: #ee264a;
