@mixin boldH1Font {
  font-family: 'SpoqaHanSansNeoBold';
  font-size: 24px;
  line-height: 160%;
}
@mixin boldbigPFont {
  font-family: 'SpoqaHanSansNeoBold';
  font-size: 18px;
  line-height: 155%;
}
@mixin boldPFont {
  font-family: 'SpoqaHanSansNeoBold';
  font-size: 16px;
  line-height: 150%;
}
@mixin boldCaption {
  font-family: 'SpoqaHanSansNeoBold';
  font-size: 14px;
  line-height: 150%;
}

@mixin MediumbigP {
  font-family: 'SpoqaHanSansNeoMedium';
  font-size: 18px;
  line-height: 160%;
}
@mixin MediumP {
  font-family: 'SpoqaHanSansNeoMedium';
  font-size: 16px;
  line-height: 160%;
}
@mixin MediumsmallP {
  font-family: 'SpoqaHanSansNeoMedium';
  font-size: 14px;
  line-height: 160%;
}
@mixin MediumCaption {
  font-family: 'SpoqaHanSansNeoMedium';
  font-size: 12px;
  line-height: 160%;
}

@mixin RegularbigP {
  font-family: 'SpoqaHanSansNeoRegular';
  font-size: 18px;
  line-height: 155%;
}
@mixin RegularP {
  font-family: 'SpoqaHanSansNeoRegular';
  font-size: 16px;
  line-height: 160%;
}
@mixin RegularProductName {
  font-family: 'SpoqaHanSansNeoRegular';
  font-size: 16px;
  line-height: 135%;
}
@mixin RegularsmallP {
  font-family: 'SpoqaHanSansNeoRegular';
  font-size: 14px;
  line-height: 160%;
}
@mixin RegularCaption {
  font-family: 'SpoqaHanSansNeoRegular';
  font-size: 12px;
  line-height: 160%;
}

@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}
