.pw {
  position: relative;

  .type_change {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -10px;
  }

  .type_change_on {
    path {
      fill: $Grayscale-darker;
    }
  }
}
