@import '../../styles/init/_Common.scss';
@import '../../styles/init/_Mixin.scss';
@import '../../styles/init/_Reset.scss';
@import '../../styles/init/_Color.scss';
@import '../../styles/init/_Font.scss';
@import '../../styles/init/_Measures.scss';
@import '../../styles/components/_Input.scss';
@import '../../styles/components/_Button.scss';

.applying_page_whole_wrap{
    margin: 0 auto;

   
   .application_tabs{
       width: 100%;
       box-shadow: 0 2px 5px 0px rgba(182, 182, 182, 0.13);
       @include margin(31.8px, initial, $vertical_section,0);
        height: 64.6px;
        text-align: center;
        .taps_wrap{
            display: flex;
            width: 1100px;
            margin: 0 auto;
            .applgying_category{
                @include between_contents_right;
            width: calc((100% - 12px)/2);
            display: flex;
                .arrow_mark{
                @include size (44px, 44px);
                @include margin(10px, 0,0,0);
                }
                .applying_makers{
                @include RegularP();
                @include letter($ls_64,$system-black);
                padding-left: 27.8px;
                line-height:64.6px;
                }
            }

    .applying_button_category{
        width: calc((100% - 12px)/2);}
       .temporary_save{
           @include RegularP();
           @include Oval_button();
           @include size (264.3px, 54px);
           margin-right: $horizontal_icons;
           background-color:$Grayscale-darker;
           letter-spacing: $ls_8;
       }
       .submission{
           @include RegularP();
           @include Oval_button();
           @include size (264.3px, 54px);
           background-color:$primary-primary;
           border-radius: 100px;
           border: none;
           letter-spacing: $ls_8;
   
       }
    }
   
  }
   
   .contents{
    width:1100px;
        margin: 0 auto;
       .maker_name_wrap{
        .maker_name{
            @include RegularP();
            @include between_contents_right();
            @include letter($ls_64, $system-black);
            @include left_padding_web();
            display: inline-block;
            width: calc((100% - 12px)/2);
            .ico {
                @include ico();
            }
        }
       .maker_name_input{
            @include RegularP();
            @include input_inner();
            @include letter($ls_8,$Grayscale-middle);
            width: calc((100% - 12px)/2);


         
       }
   }
   .maker_nickname_wrap{
       padding-top:$vertical_section;
       .maker_nickname{
        @include between_contents_right();
        @include RegularP();
        @include letter($ls_8, $system-black);
        @include left_padding_web();
           display: inline-block;
           width: calc((100% - 12px)/2);
           .ico {
            @include ico();
           }
       }
       .maker_nickname_input{
        @include RegularP();
        @include size (543.7px, 54px);
        @include input_inner();
        @include letter($ls_8,$Grayscale-middle);
        width: calc((100% - 12px)/2);

       }
   }
   
   .profile_image_wrap{

    padding-top:$vertical_section;
       display: flex;
       .category_profile_image{
        @include left_padding_web();
        width: calc((100% - 12px)/2);
        margin-right:176.3px;
           .profile_image{
            @include size (initial, 26px);
            @include letter($ls_8, $system-black);
            @include RegularP();
            .ico {
                @include ico();
               }
           }
           .image_desc{
            @include RegularCaption();
            @include letter($ls_36, $Grayscale-dark);
            width:310px;
            font-size: 12px;
           }
       }
       .image_category_wrap{
        width: calc((100% - 12px)/2);
        display: flex;
        .preview_image{
            @include size (157.3px, 155.2px);
            position: relative;
            border-radius:131px;
            border: 1px solid rgb(213, 223, 217);
            .camera_image{
                position: absolute;
                left:58.4px;
                bottom:58.7px;
            }
        }
        .uploading_image{
            padding-left:19.2px;
            .image_uploading_bttn{
                @include size (367px, 54px);
                background-color: $system-white;
                border: 1px solid transparent;
                border-radius: 10px;
                box-shadow: 0 1px 10px 0px rgba(27, 128, 109, 0.1);
                color:$primary-primary;
    
            }
            .image_des_1{
                @include RegularCaption();
                @include letter($ls_36, $Grayscale-dark);
                display: flex;
                margin-top: 16px;
                padding:0;
            }
            .image_des_2{
                @include RegularCaption();
                @include letter($ls_36, $Grayscale-dark);
                display: flex;

            }
        }
    }
   }

   .maker_profile{
    @include left_padding_web();
    padding-top:$vertical_section; 
    display: flex;
    margin-bottom: 64px;
    height: 150px;
     .introduction{
        @include RegularP();
        @include letter($ls_8,$system-black);
        padding-top: 0;
         .ico{
                @include ico();
            }
        }
        .career_textarea{
            @include RegularP();
            @include size (544px, 150px);
            @include input_inner();
            @include margin(0, 0, 0, 402.9px); 
            @include letter($ls_8,$Grayscale-middle);
        }
    }

    .certificate_wrap{
        @include left_padding_web();
        @include between_contents_right;
        width: calc((100% - 12px)/2);
        display: flex;
        .attaching_certificate{

            .documents_title{
                @include size (initial, 26px);
                @include letter($ls_8, $system-black);
                @include RegularP();
                display: inline-block;
                padding-right: 3px;}
            .certificate_des_1{
                @include RegularCaption();
                @include letter($ls_36, $Grayscale-dark);
       

                .ico{
                    @include ico();
                }
            }
            .question_mark{
                position:absolute;
            }
            .certificate_des_2{
                @include RegularCaption();
                @include letter($ls_36, $Grayscale-dark);
                width:273px;
                margin-right:212.3px;
            }


        }
    }
    .user_sns_wrap{
        padding-top:$vertical_section; 
        display: flex;

        .category_hp_or_sns{        
            @include left_padding_web();
            @include between_contents_right();
            width: calc((100% - 12px)/2);}
        .title_sns{
            
         @include RegularP();
            .ico {
             @include ico();
            }
        }
        .sns_desc{  
            @include RegularCaption();
            @include letter($ls_36, $Grayscale-dark);
        }
        .sns_inputs{
            width: calc((100% - 12px)/2);
             display: flex;
            flex-direction: column;
        
            .instagram_input{
                @include input_inner();
                @include RegularP();
                @include size (543.7px, 54px);
                @include letter($ls_8,$Grayscale-middle);
                position: relative;
                margin-bottom: $vertical_icons;
                padding-left:221px;
            }
            .ig_label::before{
                @include RegularP();
                @include letter($ls_8,$Grayscale-middle);
                margin-left: 18px;
                margin-top: 14px;
                content: attr(ig-domain);
                position: absolute;
                z-index: 1;
 
            }
            .facebook_input{
                @include input_inner();
                @include RegularP();
                @include size (543.7px, 54px);
                @include letter($ls_8,$Grayscale-middle);
                position: relative;
                margin-bottom: $vertical_icons;
                padding-left:218px;
            }
            .fb_label::before{
                @include RegularP();
                @include letter($ls_8,$Grayscale-middle);
                margin-left: 18px;
                margin-top: 14px;
                content: attr(ig-domain);
                position: absolute;
                z-index: 1;
 
            }
        
            .youtube_input{
                @include input_inner();
                @include RegularP();
                @include size (543.7px, 54px);
                @include letter($ls_8,$Grayscale-middle);
                position: relative;
                padding-left:211px;
            }
            .yt_label::before{
                @include RegularP();
                @include letter($ls_8,$Grayscale-middle);
                margin-left: 18px;
                margin-top: 14px;
                content: attr(ig-domain);
                position: absolute;
                z-index: 1;
 
            }
        

        }
    }
    .available_language_wrap{
        display: flex;
        padding-top:$vertical_section; 
        .language_category{
            @include left_padding_web;
            @include between_contents_right;
            width: calc((100% - 12px)/2);
            .language_title{
                @include size (initial, 26px);
                @include letter($ls_8, $system-black);
                @include RegularP();
                display: inline-block;
                padding-right: 3px;}
            .language_des_1{
                @include RegularCaption();
                @include letter($ls_36, $Grayscale-dark);
                width:310px;

                .ico{
                    @include ico();
                }
            }
        }
    }

    .idcard_image_wrap{
      padding-top:$vertical_section; 
      @include margin(0, 0, 100px,0);
      display: flex;
           .idcard_category{
            @include left_padding_web;
            @include between_contents_right;
            width: calc((100% - 12px)/2);

               .idcard_title{
                @include size (initial, 26px);
                @include letter($ls_8, $system-black);
                @include RegularP();
                .ico {
                    @include ico();
                   }
               }
               .idcard_desc{
                @include RegularCaption();
                @include letter($ls_36,$Grayscale-dark);
                display: inline-block;
                width:341px;
                font-size: 12px;

               }
           }
           .uploading_id_category{
            width: calc((100% - 12px)/2);
            display: flex;
            .preview_id_image{
                @include size (157.3px, 155.2px);
                position: relative;
                border-radius:10px;
                border: 1px solid rgb(213, 223, 217);
                .camera_square_image{
                    position: absolute;
                    left:58.4px;
                    bottom:58.7px;
                }
            }
            .uploading_id_image{
                padding-left:19.2px;
                .id_uploading_bttn{
                    @include size (367px, 54px);
                    background-color: $system-white;
                    box-shadow: 0 1px 10px 0px rgba(27, 128, 109, 0.1);
                    border: 1px solid transparent;
                    border-radius: 10px;
                    color:$primary-primary;
                }
                .id_des_1{
                    @include RegularCaption();
                    @include letter($ls_36, $Grayscale-dark);
                    display: flex;
                    margin-top: 16px;
                }
            
            }
        }
       }

   }

   }
   
   