@import '../../styles/init/_Common.scss';
@import '../../styles/init/_Mixin.scss';
@import '../../styles/init/_Reset.scss';
@import '../../styles/init/_Color.scss';
@import '../../styles/init/_Font.scss';
@import '../../styles/init/_Measures.scss';
@import '../../styles/components/_Input.scss';
@import '../../styles/components/_Button.scss';

.applying_page_whole_wrap{
    width:1440px;
   
   .application_tabs{
       @include padding(0, 170.5px, 0, 170px);
       @include margin(106.5px, 0, 10.6px,0);      

       img{
        @include margin(111.5px, 0, 0, 0.19px);     
       }
       .applying_makers{
        @include RegularP();
        @include letter($ls_64,$system-black);
           display: inline-block;
        
       }
       .temporary_save{
           @include RegularP();
           @include Oval_button();
           @include margin( 0,0,0,376.3px);  
           width:264.3px;
           background-color:$Grayscale-darker;
           letter-spacing: $ls_8;
       }
       .submission{
           @include RegularP();
           @include Oval_button();
           @include size (264.3px, 54px);
           margin-left:14.6px;
           background-color:$primary-primary;
           border-radius: 100px;
           border: none;
           letter-spacing: $ls_8;
   
       }
   
   }
   
   .contents{
       @include MainSize();
       .maker_name_wrap{
   
       .maker_name{
           @include RegularP();
           @include padding(0, 400px, 0, 0);
           @include letter($ls_64, $system-black);
           display: inline-block;
           .ico {
            @include ico();
           }
       }
       .maker_name_input{
        @include RegularP();
        @include size (543.7px, 54px);
         @include input_inner();
         @include letter($ls_8,$Grayscale-middle);
       }
   }
   .maker_nickname_wrap{
       .maker_nickname{
        @include RegularP();
        @include margin(92px, 389.3px,0,0);
        @include letter($ls_8, $system-black);
           display: inline-block;
           .ico {
            @include ico();
           }
       }
       .maker_nickname_input{
        @include RegularP();
        @include size (543.7px, 54px);
        @include input_inner();
        @include letter($ls_8,$Grayscale-middle);
        margin-top: 64px;
       }
   }
   
   .profile_image_wrap{
    @include size (initial, 155.2px);
    @include margin(92px, 0,64px,0);
       display: flex;
       .category_profile_image{
        margin-right:176.3px;
           .profile_image{
            @include size (initial, 26px);
            @include letter($ls_8, $system-black);
            @include RegularP();
            .ico {
                @include ico();
               }
           }
           .image_desc{
            @include RegularCaption();
            @include letter($ls_36, $Grayscale-dark);
            width:310px;
            font-size: 12px;
           }
       }
       
       .preview_image{
        @include size (157.3px, 155.2px);
        position: relative;
        border-radius:131px;
        border: 1px solid rgb(213, 223, 217);
           .camera_image{
               position: absolute;
               left:58.4px;
               bottom:58.7px;
          }
       }
       .uploading_image{
           padding-left:19.2px;
           .image_uploading_bttn{
            @include size (367px, 54px);
            border: 1px solid transparent;
            border-radius: 10px;
            color:$primary-primary;
           }
           .image_des_1{
            @include RegularCaption();
            @include letter($ls_36, $Grayscale-dark);
            display: flex;
            margin-top: 16px;
            padding:0;
           }
           .image_des_2{
            @include RegularCaption();
            display: flex;
            color: $Grayscale-darker;
           }
       }
   }

   .maker_profile{
       display: flex;
       margin-bottom: 64px;
       height: 150px;
     .introduction{
        @include RegularP();
        @include letter($ls_8,$system-black);
        padding-top: 0;
         .ico{
                @include ico();
            }
        }
        .career_textarea{
            @include RegularP();
            @include size (544px, 150px);
            @include input_inner();
            @include margin(0, 0, 0, 402.9px); 
            @include letter($ls_8,$Grayscale-middle);
        }
    }

    .certificate_wrap{
        @include size (initial, 155.2px);
        display: flex;
        .attaching_certificate{

            .documents_title{
                @include size (initial, 26px);
                @include letter($ls_8, $system-black);
                @include RegularP();
                display: inline-block;
                padding-right: 3px;}
            .certificate_des_1{
                @include RegularCaption();
                @include letter($ls_36, $Grayscale-dark);
                width:310px;

                .ico{
                    @include ico();
                }
            }
            .question_mark{
                position:absolute;
            }
            .certificate_des_2{
                @include RegularCaption();
                @include letter($ls_36, $Grayscale-dark);
                width:273px;
                margin-right:212.3px;
            }


        }
    }
    .user_sns_wrap{
        display: flex;
        .category_hp_or_sns{
           
        }
        .title_sns{
            
         @include RegularP();
            .ico {
             @include ico();
            }
        }
        .sns_desc{  
            @include RegularCaption();
            @include letter($ls_36, $Grayscale-dark);
            margin-right: 119.3px;    
        }
        .sns_inputs{
             display: flex;
            flex-direction: column;
        
            .instagram_input{
                @include input_inner();
                @include RegularP();
                @include size (543.7px, 54px);
                @include letter($ls_8,$Grayscale-middle);
                position: relative;
                margin-bottom: 8px;
            }
            .ig_label::before{
                @include RegularP();
                @include letter($ls_8,$Grayscale-middle);
                margin-left: 18px;
                margin-top: 14px;
                content: attr(ig-domain);
                position: absolute;
                z-index: 1;
 
            }
            .facebook_input{
                @include input_inner();
                @include RegularP();
                @include size (543.7px, 54px);
                @include letter($ls_8,$Grayscale-middle);
                position: relative;
                margin-bottom: 8px;
            }
            .fb_label::before{
                @include RegularP();
                @include letter($ls_8,$Grayscale-middle);
                margin-left: 18px;
                margin-top: 14px;
                content: attr(ig-domain);
                position: absolute;
                z-index: 1;
 
            }
        
            .youtube_input{
                @include input_inner();
                @include RegularP();
                @include size (543.7px, 54px);
                @include letter($ls_8,$Grayscale-middle);
                position: relative;
                margin-bottom: 8px;
                padding-left:210px;
            }
            .yt_label::before{
                @include RegularP();
                @include letter($ls_8,$Grayscale-middle);
                margin-left: 18px;
                margin-top: 14px;
                content: attr(ig-domain);
                position: absolute;
                z-index: 1;
 
            }
        

        }
    }



   }

   }
   
   