@import '../../styles/init/_Common.scss';
@import '../../styles/init/_Mixin.scss';
@import '../../styles/init/_Reset.scss';
@import '../../styles/init/_Color.scss';
@import '../../styles/init/_Font.scss';
@import '../../styles/init/_Measures.scss';
@import '../../styles/components/_Input.scss';
@import '../../styles/components/_Button.scss';


.css-2b097c-container{
    z-index: 3;
    @include size (543.7px, 54px);
    .css-yk16xz-control{
        @include size (543.7px, 54px);
    #react-select-3-input{
        caret-color: transparent;
    }

}
    .css-1okebmr-indicatorSeparator{
     display: none;
    }

    
}