.find_pw_caption {
  margin-top: 16px !important;

  li {
    @include RegularCaption;
    margin-bottom: 3px;
    list-style-type: disc;
    list-style-position: inside;
    color: $Grayscale-darker;
    letter-spacing: $ls_36;

    &:marker {
      color: $Grayscale-darker;
    }
  }
}
