@import '../../styles/init/_Common.scss';
@import '../../styles/init/_Mixin.scss';
@import '../../styles/init/_Reset.scss';
@import '../../styles/init/_Color.scss';
@import '../../styles/init/_Font.scss';
@import '../../styles/init/_Measures.scss';
@import '../../styles/components/_Input.scss';
@import '../../styles/components/_Button.scss';


.idcard_image_wrap{
    padding-top:$vertical_section; 
    @include margin(0, 0, 100px,0);
    display: flex;
         .idcard_category{
          @include left_padding_web;
          @include between_contents_right;
          width: calc((100% - 12px)/2);

             .idcard_title{
              @include size (initial, 26px);
              @include letter($ls_8, $system-black);
              @include RegularP();
              .ico {
                  @include ico();
                 }
             }
             .idcard_desc{
              @include RegularCaption();
              @include letter($ls_36,$Grayscale-dark);
              display: inline-block;
              width:341px;
              font-size: 12px;

             }
         }
         .uploading_id_category{
          width: calc((100% - 12px)/2);
          display: flex;
          .preview_id_image{
              @include size (157.3px, 155.2px);
              position: relative;
              border-radius:10px;
              border: 1px solid $border-line;
              .camera_square_image{
                  position: absolute;
                  left:58.4px;
                  bottom:58.7px;
              }
              .id_preview{
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
              }
          }
          .uploading_id_image{
              padding-left:19.2px;
              
              #attatched_id_info_wrap, #attatched_img_info_wrap{
                @include size (367px, 54px);
                @include RegularP();
                @include letter($ls_8,$system-white);
                max-width: 100%;
                max-height: 100%;
                padding:8px 18px;
                .attached_id_info, .attached_img_info{
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: space-between;
                .btn_left_info, .btn_right_info{
                    display: flex;
                    align-items: center;
                    .file_image, .file_name, .maker_img, .img_name{
                        display:  inline-block;
                    }
                    .file_size{
                        display: inline-block;
                    }
                    .trash_emoticon, .trash_img{
                        position: relative;
                        display: inline-block;
                    }
                }
                }
              
            }

              .id_des_1{
                  @include RegularCaption();
                  @include letter($ls_36, $Grayscale-dark);
                  display: flex;
                  margin-top: 14.1px;
              }
            }
          }
      }
     

 
 
 