@import '../../styles/init/_Common.scss';
@import '../../styles/init/_Mixin.scss';
@import '../../styles/init/_Reset.scss';
@import '../../styles/init/_Color.scss';
@import '../../styles/init/_Font.scss';
@import '../../styles/init/_Measures.scss';
@import '../../styles/components/_Input.scss';
@import '../../styles/components/_Button.scss';


.tour_type_wrap{

    
    .test{
        .img_description{visibility: hidden;}
        .question_mark{
        &:hover{ .img_description{
            background-color: red;
            visibility: visible;
        }
    }
}
}
    
    }

.vehicle_tour_category{
    display: flex;
.number_of_pax{
    @include size (54px, 54px);
    .css-yk16xz-control{
        @include size (54px, 54px);
}
.css-1hb7zxy-IndicatorsContainer{
padding:0;
}
}

.number_of_loads{
    @include size (54px, 54px);
    .css-yk16xz-control{
        @include size (54px, 54px);
}
.css-1hb7zxy-IndicatorsContainer{
padding:0;
}
}
}
